/*-----------ESTILOS NUESTROS PRODUCTOS-----------*/
/*DESKTOP*/
@media (min-width: 1024px){
    .main{
        .titleAllProduct {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $background;
            margin-top: 1.5rem;
            height: 10rem;
            h1 {
                font-family: $fontAllPage;
                font-size: 2.5rem;
            }
            p {
                font-family: $fontAllPage;
                font-style: italic;
                margin-top: 0.5rem;
            }
        }
        .titleEachProduct {
            /* display: flex;
            flex-direction: row;
            justify-content: center; */
            h2 {
              text-align: center;
              font-family: $fontAllPage;
              margin-top: 2.5rem;
              background-color: $background;
              border-radius: 15px;
              width: 80%;
            }
        }
        .allProduct {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto;
            justify-items: center;
            gap: 1.5rem;
            margin-bottom: 1rem;
            h4 {
                text-align: center;
                font-size: 1rem;
                font-family: $fontAllPage;
                margin-top: 1rem;
            }
            h6 {
                text-align: center;
                font-family: $fontAllPage;
            }
            div{
                text-align: center;
                a{
                    width: 8.3rem;
                    font-size: 0.8rem;
                }
            }
            img {
                margin-top: 2rem;
                box-shadow: 3px 1px 23px 0px rgba(0, 0, 0, 0.85);
                -webkit-box-shadow: 3px 1px 23px 0px rgba(0, 0, 0, 0.85);
                -moz-box-shadow: 3px 1px 23px 0px rgba(0, 0, 0, 0.85);
                &:hover {
                    transform: scale(1.1, 1.1);
                    border: 2px solid white;
                }
            }

        }
    }
}
/*TABLET*/
@media (min-width: 500px) and (max-width: 1023px){
    .main{
        .titleAllProduct {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $background;
            margin-top: 1.5rem;
            height: 10rem;
            h1 {
                font-family: $fontAllPage;
            }
            p {
                font-family: $fontAllPage;
                font-style: italic;
                margin-top: 0.5rem;
                text-align: center;
            }
        }
        .titleEachProduct {
            /* display: flex;
            flex-direction: row;
            justify-content: center; */
            h2 {
              text-align: center;
              font-family: $fontAllPage;
              margin-top: 2.5rem;
              background-color: $background;
              border-radius: 15px;
              width: 80%;
            }
        }
        .allProduct {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            justify-items: center;
            text-align: center;
            gap: 1rem;
            margin-bottom: 1rem;
            h4 {
                text-align: center;
                font-size: 1rem;
                font-family: $fontAllPage;
                margin-top: 0.5rem;
            }
            h6 {
                text-align: center;
                font-family: $fontAllPage;
            }
            div{
                text-align: center;
                a{
                    width: 8.3rem;
                    font-size: 0.8rem;
                }
            }
            img {
                margin-top: 2rem;
                width: 90%;
                box-shadow: 3px 1px 23px 0px rgba(0, 0, 0, 0.85);
                -webkit-box-shadow: 3px 1px 23px 0px rgba(0, 0, 0, 0.85);
                -moz-box-shadow: 3px 1px 23px 0px rgba(0, 0, 0, 0.85);
                &:hover {
                    transform: scale(1.1, 1.1);
                    border: 2px solid white;
                }
            }
        }
    }
}
/*MOBILE*/
@media (max-width: 500px){
    .main{
        .titleAllProduct {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            background-color: $background;
            margin-top: 1.5rem;
            height: 10rem;
            width: 100%;
            h1 {
                font-family: $fontAllPage;
                text-align: center;
                font-size: 1.2rem;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }
            p {
                font-family: $fontAllPage;
                font-style: italic;
                font-size: 0.8rem;
                margin-top: 0.5rem;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
                text-align: center;
            }
        }
        .titleEachProduct {
            /* display: flex;
            flex-direction: row;
            justify-content: center; */
            h2 {
              text-align: center;
              font-family: $fontAllPage;
              margin-top: 2.5rem;
              background-color: $background;
              border-radius: 15px;
              width: 80%;
            }
        }
        .allProduct {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: auto;
            justify-content: center;
            text-align: center;
            gap: 1rem;
            margin-bottom: 1rem;
            h4 {
                text-align: center;
                font-size: 1rem;
                font-family: $fontAllPage;
                margin-top: 0.5rem;
            }
            h6 {
                text-align: center;
                font-family: $fontAllPage;
            }
            div{
                text-align: center;
                a{
                    width: 8.3rem;
                    font-size: 0.8rem;
                }
            }
            img {
                margin-top: 2rem;
                width: 80%;
                box-shadow: 3px 1px 23px 0px rgba(0, 0, 0, 0.85);
                -webkit-box-shadow: 3px 1px 23px 0px rgba(0, 0, 0, 0.85);
                -moz-box-shadow: 3px 1px 23px 0px rgba(0, 0, 0, 0.85);
                &:hover {
                    transform: scale(1.1, 1.1);
                    border: 2px solid white;
                }
            }
        }
    }
}
/*-----------ESTILOS NUESTROS PRODUCTOS-----------*/